.camera-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alignment-frame {
  width: 35%;
  height: 50%;
  border: 2px dashed rgba(255, 255, 255, 0.5);
  pointer-events: none;
  position: absolute;
}

.screenshot-button {
  position: absolute;
  bottom: 0;
  left: 0;
}
