<stzh-heading level="2">Frame</stzh-heading>
<stzh-vspace></stzh-vspace>

<stzh-button icon='camera' (click)="openCamera()" class="open-camera-button">Öffne Kamera</stzh-button>
<stzh-vspace></stzh-vspace>

<div class="camera-container">
  <video #cameraVideo autoplay="autoplay"></video>
  <stzh-button (click)="initCropper()" id="screenshot-button" class="screenshot-button">Bild aufnehmen</stzh-button>
  <div #alignmentFrame class="alignment-frame"></div>
</div>

<stzh-vspace></stzh-vspace>

<image-cropper
  [imageBase64]="screenshotData"
  [maintainAspectRatio]="false"
  format="png"
  [output]="'base64'"
  (imageCropped)="imageCropped($event)"
  (imageLoaded)="imageLoaded()"
  (cropperReady)="cropperReady($event)"
  (loadImageFailed)="loadImageFailed()"
  [style.display]="screenshotTaken ? null : 'none'"
></image-cropper>

<stzh-button *ngIf="screenshotTaken" (click)="confirmCrop()" class="open-camera-button">Bestätige Bereich</stzh-button>

<stzh-vspace></stzh-vspace>

<canvas style="display: none" #tempCanvas></canvas>

<div class="screenshot-canvas-container">
  <canvas style="display: none" #screenshotCanvas></canvas>
</div>
