<stzh-heading level="2">Frame</stzh-heading>
<stzh-vspace></stzh-vspace>

<stzh-button icon='camera' (click)="openCamera()" class="open-camera-button">Öffne Kamera</stzh-button>
<stzh-vspace></stzh-vspace>

<div class="camera-container">
  <video #cameraVideo autoplay="autoplay"></video>
  <stzh-button (click)="takeScreenshot()" id="screenshot-button" class="screenshot-button">Bild aufnehmen</stzh-button>
  <div #alignmentFrame class="alignment-frame"></div>
</div>

<stzh-vspace></stzh-vspace>

<div class="screenshot-canvas-container">
  <canvas #screenshotCanvas></canvas>
</div>
