<h1>POC-Screenshot</h1>

<input #fileUpload 
  type="file"
  capture="user"
  style="display:none"
  accept="image/*"
  (click)="fileUpload.value = null"
  (change)="importFile($event)"
>
<button (click)="fileUpload.click()">Datei hochladen</button>

<br />

<table *ngIf="files.length > 0">
  <thead>
  <tr>
    <th>File Name</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let file of files">
    <td>{{ file.name }}</td>
    <td>
      <a (click)="downloadFile(file)">Download</a>
    </td>
  </tr>
  </tbody>
</table>
