<stzh-icon-sprite></stzh-icon-sprite>
<stzh-flyingfocus></stzh-flyingfocus>

<stzh-container>
  <stzh-header>
    <img
      slot="logo"
      src="media/logo/stzh-default.svg"
      alt="Logo City Zürich, go to homepage"
    />
  </stzh-header>
  <stzh-cell span-medium="8">
    <stzh-pagetitle>
      <stzh-heading slot="heading" with-border>
        POC - Document Scanner
      </stzh-heading>
    </stzh-pagetitle>
    <a [routerLink]="'canvas'">Canvas</a>
    <stzh-vspace></stzh-vspace>
    <a [routerLink]="'native'">Native</a>
    <stzh-vspace></stzh-vspace>
    <router-outlet></router-outlet>
  </stzh-cell>
</stzh-container>

