<stzh-heading level="2">Canvas</stzh-heading>

<stzh-vspace></stzh-vspace>

<stzh-button icon="camera" (click)="openCamera()">
  Öffne Kamera
</stzh-button>

<stzh-vspace curve="large"></stzh-vspace>

<stzh-table *ngIf="files.length > 0">
  <stzh-heading slot="heading" level="2">Bereits hochgeladene Dokumente</stzh-heading>
  <table>
    <thead>
    <tr>
      <th>
        <span>Dateiname</span>
      </th>
      <th>
        <span></span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let file of files">
      <td>{{ file.name }}</td>
      <td>
        <stzh-link (click)="downloadFile(file)" icon="external-link">
          Download
        </stzh-link>
      </td>
    </tr>
    </tbody>
  </table>
</stzh-table>

<video style="display: none" #video id="video" autoplay playsinline></video>
<canvas style="display: none" #canvas id="canvas"></canvas>  <!-- original video -->
<canvas #result id="result"></canvas>  <!-- highlighted video -->
<ng-container *ngIf="isCameraOpened">
  <stzh-button icon="camera" (click)="extract()">
    Datei hochladen
  </stzh-button>
  <ng-container *ngFor="let device of allDevices; index as x">
    <h1>Kamera: {{ x }}</h1>
    <p>{{ device.label }}</p>
    <p>{{ device.deviceId }}</p>
  </ng-container>
</ng-container>
<br />
<canvas #extracted id="extracted"></canvas> <!-- extracted photo -->
