<stzh-heading level="2">Native</stzh-heading>

<input #fileUpload
     type="file"
     capture="environment"
     accept="image/*"
     (click)="fileUpload.value"
     (change)="fileChangeEvent($event)"
>

<image-cropper
  [imageChangedEvent]="imageChangedEvent"
  [maintainAspectRatio]="false"
  format="png"
  (imageCropped)="imageCropped($event)"
  (imageLoaded)="imageLoaded()"
  (cropperReady)="cropperReady($event)"
  (loadImageFailed)="loadImageFailed()"
  [style.display]="screenshotTaken ? null : 'none'"
></image-cropper>

<stzh-button *ngIf="screenshotTaken" (click)="confirmCrop()" class="open-camera-button">Bestätige Bereich</stzh-button>

<stzh-vspace></stzh-vspace>

<canvas #tempCanvas id="tempCanvas" style="display: none"></canvas>

<img id="pictureTaken" />
<canvas #extracted id="extracted"></canvas>
